[submodule "ms-swift"]
    path = ms-swift
    url = https://github.com/hsushuai/ms-swift.git

[submodule "Megatron-DeepSpeed"]
    path = Megatron-DeepSpeed
    url = https://github.com/deepspeedai/Megatron-DeepSpeed.git
